.AssetAllocation{
  background-color: #fff;
  width: 100%;
  height: auto;
  min-height: 768px;
  display: flex;
}
.an-tools{
  width: 100%;
  height: 46px;
}

.an-content-1Row{
   height: 230px;
   width: 100%;
 }
.an-content-2Row{
  height: 230px;
  width: 100%;
}
.an-content-3Row{
  height: 230px;
  width: 100%;
  display: flex;
}
.an-content-3Row > div{
    width: 50%;
    height: 100%;
}
.an-content-1Col{
  margin-right: 6px;
}
.an-content-2Col{
  margin-left: 6px;
}
.an-content-4Row{
  height: 397px;
  width: 100%;
}
.an-content-5Row{
  width: 100%;
  height: auto;
}

.an-content-6Row{
  width: 100%;

  margin-top: 38px;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
}

.AssetAllocation-content{
  height: 100%;
  width: 100%;
  margin-left: 14px;
  margin-right: 14px;
}
.an-tools{
  display: flex;
  align-items: center;
}
.boxGroup{
  margin-right: 25px;
}
.boxGroup > span{
  font-size: 14px;
  color: #4c5264;
  margin-right: 6px;
}
.boxGroup:first-child{
  margin-left: 12px;
}
.AssetAllocation .ant-select-selection--single{
  height: 30px;
}
.AssetAllocation .anticon-down svg{
  display: none;
}
.anticon-down{
  width: 8px;
  height: 4px;
  position: relative;
  top: 4px;
}
.AssetAllocation .ant-select-enabled .anticon-down{
  background-image: url("../assets/an-select-down.png");
}
.AssetAllocation .ant-select-enabled.ant-select-open .anticon-down{
  background-image: url("../assets/an-select-up.png");
}
.AssetAllocation .configBtn{
  height: 30px;width: 120px;background-color: #db534e;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active{
  background-color: #db534e!important;
  border: solid 1px transparent !important;
}

.ant-select-selection-selected-value{
  font-size: 14px;
  color: #666;
}
.ant-btn-round span{
  color: #fff;
}
 .AssetAllocation .ant-btn:hover{
  border-color:transparent !important;
   background-color: #db534e;
}
body .ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover{
  background-color: #f8d7d6;
  font-size: 14px;
  color: #666;
}
body .ant-select-dropdown-menu-item{
  font-size: 14px;
  color: #666;
}
 body .ant-select-dropdown-menu-item:hover{
  background-color: #f8d7d6;
   font-size: 14px;
   color: #444;
   opacity: 1;
}
.an-tools .ant-select-selection{
  border: 1px solid #ccc;
}
.infoContent{
  text-align: left;
}
.infoCheckBoxContent{
  position: relative;
  top: 15px;
}
.AssetAllocation .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding: 12px 7px !important;
}
.AssetAllocation  .ant-table-pagination.ant-pagination{
  display: none;
}
.AssetAllocation .pieContent{
  width: 100%;height: 100%;display: flex;
}
.AssetAllocation .pieContent .Row4_left{
      width: 60%;
      height: 100%;
}

.AssetAllocation .pieContent .Row4_right{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #444;
  font-weight: bold;
}
.AssetAllocation .noData{
  font-weight: bold;
  font-size: 16px;
  color: #444;
}

.AssetAllocation .noDataIcon{
   background-image: url("../assets/空白占位符.png");
    width: 78px;
    height: 86px;
}

.AssetAllocation .noDataBox{
  display: flex;
  align-items: center;
}

.zz{
  text-align: center;
  line-height: 200px;
}
form .ant-input-number-handler-wrap{
  display: none;
}

.zx-errorInfo{
  color: #b54135 !important;
}

.AssetAllocation .ordermodal .ordertables .ant-table-content .ant-table-align-center{
  height: 10px !important;
}
.AssetAllocation .ordermodal .ant-table-thead > tr > th, .AssetAllocation .ordermodal .ant-table-tbody > tr > td{
  padding: 5px 7px !important
}
.AssetAllocation .ordermodal .ant-table-thead > tr > th{
  background-color: transparent;
}

.AssetAllocation .ordermodal td,.AssetAllocation .ordermodal th,.AssetAllocation .ordermodal table{
  border-color: #bbb !important;
}
.AssetAllocation .ant-form-inline .ant-form-item{
  margin-right: 8px;
}
