.all{
  height: 100%;
  width: 100%;
  background: white;
}

.a-layout-header-box {
 text-align: right;
}
.a-layout-header{
  padding: 0px 10px;
  height: 42px;
  line-height: 42px;
  text-align: left;
  background-image: url('../assets//顶部BG切图.png');
  color: #fff;
}
.a-layout-header-img{
 text-align: left;
}
.all-text{
  height: 800px;
   background: #DCDCDC;
}
.a-layout-content-tabs-d {
 line-height: 43px;
 font-size: 15px;
 padding: 0px 10px;
 height: 37px;
}
.all-text-center{
  padding: 0px 10px;
}
.a-layout-footer-t {
  font-size: 15px;
   padding: 0px 10px;
   height:880px;
   background: #FFFFFF;
 }
 .a-layout-footer-header {
   padding-left: 1%;
   padding-right:1%;
   font-size: 16px;
   font-weight:bold;
   height: 37px;
   line-height: 37px;
  }
  .ant-divider-horizontal{
    margin: 0px 0px !important;
  }
.a-layout-footer-center-header {
  padding: 0px 28px;
  font-weight:bold;
}
.a-layout-footer-center-center {
  margin-top: 10px;
  padding:0px 28px;
  background: #EBF0F3;
}
.center-header-p{
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}
.center-header-p p{
  margin: 0px 0px 0px;
}
.center-header-s{
  margin: 0px 0px;
  line-height: 36px;
}
.zhaiyao{
  margin-top: 12px;
  padding-top: 12px;
}
.a-layout-footer-footer {
text-align: right;
}
.a-layout-footer-left {
  height: 900px;
  float: left;
  width: 38%;
}
.a-layout-footer-right  {
 margin-top: 10px;
  float: right;
  width:58%;
  background: #DCDCDC;
  overflow:hidden;
}
.modal-text{
  padding-left: 2%;
line-height: 38px;
text-align:left;
background:#FFFFFF;
height: 38px;
}
.modal-text-two{
  margin-top: 10px;
  padding-left: 2%;
line-height: 38px;
text-align:left;
background:#FFFFFF;
height: 38px;
}
.modal-text-two :hover{
  cursor: pointer;
}
.modal-text :hover{
  cursor: pointer;
}
.text{
padding-left: 2%;

text-align:left;

}
.text-two{
  margin-top: 10px;
  padding-left: 2%;

text-align:left;

}
.annotationLayer{
  height: 900px !important;
  width: 800px !important;
}
.pdf-set{
  display: inline-block;
  text-align: center;
  width:100%;
}
