.a-layout-header-box {
   text-align: right;
 }
 .ant-layout-header{
    text-align: left;
    background: #ff0000;
    color: #fff;

  }
 .a-layout-header-img{
   text-align: left;

   height: 65px;
 }
 .a-layout-content-tabs {
    padding-left: 3.5%;
    padding-right: 3.5%;
    margin-top: 10px;
    height: 20px;
  }
  /* .a-layout-content-div {
    text-align: left;
     margin-top: 10px;
   } */
